swagger: '2.0'
info:
  version: '1.0'
  title: 'iyzipay'
  description: |
    # Disclaimer
    iyzico resmi api dökümantasyonu değildir. 
    https://dev.iyzipay.com/tr adresinden iyzico resmi api dökümantasyonuna ulaşabilirsiniz.
    
    # Başlarken
  
    iyzico ödeme API’si, internet üzerinden ödeme kabul eden tüm üye işyerlerine hitap edecek bir şekilde, oturum bilgisi tutmayan (stateless) Restful servis odaklı bir mimaride geliştirilmiştir. iyzico'nun sunduğu sunucu taraflı programlama diline uygun istemciler(client) ile çok kolay entegre olunabilir. Başlamak için aşağıdaki adımları izleyebilirsiniz.

    ## Sandbox(test) hesabı oluşturmak

    iyzico servislerini test edebilmek için bu <a href="https://sandbox-merchant.iyzipay.com/register" target="_blank">adresten</a> kaydınızı gerçekleştirebilirsiniz. Email aktivasyonu gerekmeden giriş yapıp <a href="https://sandbox-merchant.iyzipay.com/settings" target="_blank"> **"Ayarlar"** </a> menüsünden servisleri test edebileceğiniz API ve Güvenlik anahtar değerlerine ulaşabilirsiniz. 

    >>> Sandbox(test) kontrol panelinden alınan anahtarlar **https://sandbox-api.iyzipay.com** sorgu adresi(baseUrl) ile çalışmaktadır.

    ![](sandbox_ayarlar.jpg)

    >>> Sandbox(test) ortamında kullanılan değerler ve sorgu adresi(baseUrl) canlı ortamdaki değerler ve sorgu adresinden tamamen farklıdır.

    ## İstemci(client) seçimi

    iyzico entegrasyon için, sunucu taraflı programlama diline uygun 6 farklı istemci(client) sunar. Bu istemcilerden programlama yapmak istediğiniz dile uygun olanı seçip sandbox(test) bilgileri ile kullanmaya başlayabilirsiniz.

    >>> Projenizde kullandığınız istemciyi github hesabınız ile takip etmeyi unutmayınız. Böylece gelecek olan güncelleme ve yeniliklerden haberdar olabilirsiniz.
    iyzico servislerini test edebilmek için bu <a href="https://sandbox-merchant.iyzipay.com/register" target="_blank">adresten</a> kaydınızı gerçekleştirebilirsiniz. Email aktivasyonu gerekmeden giriş yapıp <a href="https://sandbox-merchant.iyzipay.com/settings" target="_blank"> <strong>"Ayarlar"</strong> </a> menüsünden servisleri test edebileceğiniz API ve Güvenlik anahtar değerlerine ulaşabilirsiniz.

    <style>
    #body img{
      display:inline-block !important;
    }
    </style>
    <a href="https://github.com/iyzico/iyzipay-php/releases/latest" target="_blank">PHP</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-dotnet/releases/latest" target="_blank">.NET</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-java/releases/latest" target="_blank">JAVA</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-node/releases/latest" target="_blank">NODE</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-ruby/releases/latest" target="_blank">RUBY</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-python/releases/latest" target="_blank">PYTHON</a>
    
    ## Entegrasyon metoduna karar vermek

    <a href="https://dev.iyzipay.com/tr/odeme-formu">**Ödeme Formu**:</a>
    Eğer işletmenizin amacı hızlı ve kolay bir şekilde ödeme almaya başlamak ise iyzico ödeme formunu tercih edilebilirsiniz. Ön yüz kontrolleri, BIN sorgulama, Taksit Sorgulama, 3D Secure ile ödeme, BKM Express ve Kart saklama entegrasyonları için ek sorgu yapmaya gerek kalmadan tek bir entegrasyon ile işlemler tamamlanır. Ödeme bazında 3D Secure ayarı ve taksit komisyon yönetimi iyzico kontrol panelinden kolayca düzenlenebilir. Üye iş yeri tasarımına göre pop-up veya responsive olarak yüklenebilir. iframe ve ortak ödeme sayfası olarak kullanım şekilleri mevcuttur.

    <a href="https://dev.iyzipay.com/tr/api">**API**:</a>
    Üye işyeri kendi ödeme formunu kullanır. Bu entegrasyonda iyzico servisleri üye işyeri ödeme formunun arkasında çalışır. İstenilen servisler iş modelinin ihtiyacına göre entegre edilebilir. 

    ## Entegrasyon sürecinde dikkat edilecek noktalar

    ** Canlı ortamda iyzico API'ına gönderilen parametrelere müşteriden alınan bilgiler set edilmelidir. Müşteriniden alınmayan "dummy" değerler sorgu parametrelerine set edilmemelidir.
    
    ** Ödeme işlemi sonucunda iyzico tarafından dönen cevaptaki değerler (price, paidPrice, basketId, conversationId) ile sizin sisteminize kaydettiğiniz değerleri karşılaştırarak bir farklılık var ise genel bir hata mesajı gösterebilirsiniz.
    
    ** Bu tür durumlarda iyzico entegrasyon ekibi ile iletişime geçmeyi unutmayınız. Müşteri tarafından ödenen tutar iyzico tarafından dönen cevaptaki paidPrice parametresindeki değere eşittir.

    ## Canlı ortama geçiş

    ** Geliştirmeler tamamlandıktan sonra ödeme adımlarınızı, test kartlarınız ile tüm durumlar için test edin.
    
    ** iyzico servislerinden dönen ve olabilecek tüm hataları karşılayacak şekilde kodunuzu düzenleyin.
    
    ** Sonuç sayfanızın iyzico'dan gelen yanıtı yorumlayabiliyor olmasına dikkat edin.
    
    ** Hassas olmayan dataları ve yanıtları loglamaya dikkat edin.
    
    ** Entegrasyonunuzun son kullanıcılar için <a href="https://dev.iyzipay.com/tr/sss" target="_blank">Kişisel Verilerin Koruması Kanunu</a> ile uyumlu olmasına dikkat edin.
    
    ** iyzico logolarını sitenize eklemeyi unutmayın. [iyzico logo paketi](iyzico-logo-pack.zip).
    
    ** iyzico entegrasyon ekibinin onayı için <a href="mailto:entegrasyon@iyzico.com">**entegrasyon@iyzico.com**</a> mail adresi ile iletişime geçin.
    
    
host: "sandbox-api.iyzipay.com"
schemes:
 - "https"
 
tags:
  - name: Api
    description: | 
      API entegrasyonunda üye işyeri kendi ödeme formunu kullanır. Bu form üzerindeki kontrolleri ve kuralları uygulaması gerekir.
      
      ** Kart numarası(PAN) luhn algoritmasına tabi tutulmalıdır.
      
      ** Kartın hamilinin adı ve soyadı alınmalıdır.
      
      ** Son kullanma tarihi geçmiş kartlar ile API'ye sorgu yapılmamalıdır.
      
      ** AMEX kartları ile işlem alabilir şekilde tasarlanmalıdır.
      
      iyzico arka planda çalıştığından üye işyerinin ihtiyaçlarına göre istenilen servisler entegre edilebilir.

paths:
  /payment/test:
    get:
      description: 'https://sandbox-api.iyzipay.com/payment/test'
      summary: Health Check
      tags:
      - Api
      operationId: Heath Check
      produces:
      - application/json
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/HealthCheckResponse'
  /payment/iyzipos/installment:
    post:
      description: 'Taksit sorgulama(installment), ilgili kart bir kredi kartı ise ve bir taksit programına dahil ise, kaç taksit yapılabileceği ve taksit komisyon oranı konusunda bilgi vermektedir.'
      summary: Retrieve Installment
      tags:
      - Api
      operationId: Retrieve Installment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveInstallmentRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type should be application/json'
        example: application/json
      responses:
        200:
          description: success
          schema:
            $ref: '#/definitions/RetrieveInstallmentResponse'
  /payment/auth:
    post:
      description: | 
        Ödeme sorgusu, müşterinin kredi kartından para çekme işlemini yapar. İlgili servis kullanıldığında iyzico işlemin başarılı olup olmadığı ile alakalı olarak yanıtı anında döner.

        ** Üzerinde TROY, MASTERCARD, VISA, AMEX logolu kartlardan işlem yapmaya olanak verir.
        
        ** Üzerinde BONUS, WORLD, MAXIMUM, AXESS, CARDFINANS, PARAF, ADVANTAGE taksit programlarına dahil kartlar için 2, 3, 6, 9, 12 taksit seçenekleri bu servis ile kullanılabilir.
        
        ** Başarılı işlemler yeşil, başarısız işlemler ise kırmızı renkte panel üzerinde görüntülenebilir.
        
        ** Üye işyeri tarafında sipariş numarası olarak conversationId ve basketId parametreleri kullanılabilir.
      summary: Create Payment
      tags:
      - Api
      operationId: Create Payment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreatePaymentRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: success
          schema:
            $ref: '#/definitions/CreatePaymentResponse'
  /payment/3dsecure/initialize:
    post:
      description: 'TODO: Add Description'
      summary: Initialize Threeds Payment
      tags:
      - Api
      operationId: Initialize Threeds Payment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializeThreedsPaymentrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/3dsecure/auth:
    post:
      description: 'TODO: Add Description'
      summary: Create Threeds
      tags:
      - Api
      operationId: RCreate Threeds
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrievePaymentResultrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/cancel:
    post:
      description: 'TODO: Add Description'
      summary: Cancel
      tags:
      - Api
      operationId: Cancel
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CancelRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/refund:
    post:
      description: 'TODO: Add Description'
      summary: Refund
      tags:
      - Api
      operationId: Refund
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RefundRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/detail:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Payment Result
      tags:
      - Api
      operationId: Retrieve Payment Result
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrievePaymentResultrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /reporting/settlement/payoutcompleted:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Bounced Bank Transfer List
      tags:
      - Api
      operationId: Retrieve Bounced Bank Transfer List
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveBouncedBankTransferListrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/apm/initialize:
    post:
      description: 'TODO: Add Description'
      summary: Initialize APM
      tags:
      - APM
      operationId: Initialize APM
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializeApmrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/apm/retrieve:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Apm
      tags:
      - APM
      operationId: Retrieve Apm
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveApmrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/bkm/initialize:
    post:
      description: 'TODO: Add Description'
      summary: Initialize Bkm
      tags:
      - BKM
      operationId: Initialize Bkm
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializeBkmrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/bkm/auth/detail:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Bkm Result
      tags:
      - BKM
      operationId: Retrieve Bkm Result
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveBkmResultrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /cardstorage/card:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Cards
      tags:
      - Card Register
      operationId: Retrieve Cards
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveCardsrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
    delete:
      description: 'TODO: Add Description'
      summary: Delete Card
      tags:
      - Card Register
      operationId: Delete Card
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/DeleteCardrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/iyzipos/item/approve:
    post:
      description: 'TODO: Add Description'
      summary: Approve Payment
      tags:
      - Marketplace
      operationId: Approve Payment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/ApprovePaymentrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/iyzipos/item/disapprove:
    post:
      description: 'TODO: Add Description'
      summary: Disapprove Payment
      tags:
      - Marketplace
      operationId: Disapprove Payment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/DisapprovePaymentrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/iyzipos/checkoutform/initialize/auth/ecom:
    post:
      description: 'TODO: Add Description'
      summary: Initialize Checkout with Card User Key
      tags:
      - iyzico Checkout Form
      operationId: Initialize Checkout with Card User Key
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializeCheckoutWithCardUserKeyrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /onboarding/submerchant:
    put:
      description: 'TODO: Add Description'
      summary: Update Company Submerchant
      tags:
      - Marketplace
      operationId: Update Company Submerchant
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/UpdateCompanySubmerchantrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
    post:
      description: 'TODO: Add Description'
      summary: Create Company Submerchant
      tags:
      - Marketplace
      operationId: Create Company Submerchant
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreateCompanySubmerchantrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /onboarding/submerchant/detail:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Submerchant
      tags:
      - Marketplace
      operationId: Retrieve Submerchant
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveSubmerchantrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/pecco/initialize:
    post:
      description: 'TODO: Add Description'
      summary: Initialize Pecco
      tags:
      - Pecco
      operationId: Initialize Pecco
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializePeccorequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/pecco/auth:
    post:
      description: 'TODO: Add Description'
      summary: Create Pecco
      tags:
      - Pecco
      operationId: Create Pecco
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreatePeccorequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/iyzipos/checkoutform/auth/ecom/detail:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Checkout Form Result
      tags:
      - iyzico Checkout Form
      operationId: Retrieve Checkout Form Result
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveCheckoutFormResultrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
definitions:
  HealthCheckResponse:
    title: Health Check Response
    type: object
    properties:
      status:
        description: ''
        type: string
        example: success
      locale:
        description: 'Language settings'
        type: string
        example: tr
      systemTime:
        description: ''
        type: string
        example: 1495891786950
  RetrieveBinNumberRequest:
    title: Retrieve Bin Number Request
    type: object
    properties:
      locale:
        description: 'Language settings'
        type: string
        example: tr
        default: tr
      conversationId:
        description: ''
        type: string
        example: 123456789
      binNumber:
        description: ''
        type: string
        example: 554960
    required:
    - binNumber
  RetrieveInstallmentResponse:
    title: Retrieve Installment Response
    type: object
    properties:
      status:
        description: ''
        type: string
        example: success
      locale:
        description: 'Language settings'
        type: string
        example: tr
      systemTime:
        description: ''
        type: string
        example: 1495891786950
      conversationId:
        description: ''
        type: string
        example: 123456789
      installmentDetails:
        description: ''
        type: array
        items:
          $ref: '#/definitions/installmentDetails'
  installmentDetails:
    title: installment Details
    type: object
    properties:
      binNumber:
        description: ''
        type: string
        example: 554960
      cardType:
        description: ''
        type: string
        example: CREDIT_CARD
      cardAssociation:
        description: ''
        type: string
        example: MASTER_CARD
      cardFamily:
        description: ''
        type: string
        example: Bonus
      bankName:
        description: ''
        type: string
        example: Garanti Bankası
      bankCode:
        description: ''
        type: string
        example: 62
      commercial:
        description: ''
        type: string
        example: 0 
      installmentPrices:
        type: array
        items:
          $ref: '#/definitions/installmentPrices'
  installmentPrices:
    title: Installment Prices
    type: object
    properties:
      installmentPrice:
        description: ''
        type: string
        example: 100
      totalPrice:
        description: ''
        type: string
        example: 100
      installmentNumber:
        description: ''
        type: string
        example: 1
  RetrieveInstallmentRequest:
    title: Retrieve Installment Request
    type: object
    properties:
      locale:
        description: 'Language settings'
        type: string
        example: tr
        default: tr
      conversationId:
        description: ''
        type: string
        example: 123456789
      price:
        description: ''
        type: string
        example: "100.0"
      binNumber:
        description: 'Bin numarası set edilmez ise tüm kartlar için taksit seçenekleri dönecektir.'
        type: string
        example: 554960
    required:
    - price
  InitializeApmrequest:
    title: Initialize APMRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      countryCode:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      accountHolderName:
        description: ''
        type: string
      merchantCallbackUrl:
        description: ''
        type: string
      merchantErrorUrl:
        description: ''
        type: string
      merchantNotificationUrl:
        description: ''
        type: string
      apmType:
        description: ''
        type: string
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - currency
    - countryCode
    - basketId
    - paymentGroup
    - accountHolderName
    - merchantCallbackUrl
    - merchantErrorUrl
    - merchantNotificationUrl
    - apmType
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  Buyer:
    title: Buyer
    type: object
    properties:
      id:
        description: ''
        type: string
      name:
        description: ''
        type: string
      surname:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      registrationDate:
        description: ''
        type: string
      lastLoginDate:
        description: ''
        type: string
      registrationAddress:
        description: ''
        type: string
      city:
        description: ''
        type: string
      country:
        description: ''
        type: string
      zipCode:
        description: ''
        type: string
      ip:
        description: ''
        type: string
    required:
    - id
    - name
    - surname
    - identityNumber
    - email
    - registrationAddress
    - city
    - country
    - ip
  ShippingAddress:
    title: ShippingAddress
    type: object
    properties:
      address:
        description: ''
        type: string
      zipCode:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      city:
        description: ''
        type: string
      country:
        description: ''
        type: string
    required:
    - address
    - contactName
    - city
    - country
  BillingAddress:
    title: BillingAddress
    type: object
    properties:
      address:
        description: ''
        type: string
      zipCode:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      city:
        description: ''
        type: string
      country:
        description: ''
        type: string
    required:
    - address
    - contactName
    - city
    - country
  BasketItems:
    title: BasketItems
    type: array
    items:
      $ref: '#/definitions/BasketItem'
  BasketItem:
    title: BasketItem
    type: object
    properties:
      id:
        description: ''
        type: string
      price:
        description: ''
        type: string
      name:
        description: ''
        type: string
      category1:
        description: ''
        type: string
      category2:
        description: ''
        type: string
      itemType:
        description: ''
        type: string
    required:
    - id
    - price
    - name
    - category1
    - itemType
  RetrieveApmrequest:
    title: Retrieve ApmRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentId:
        description: ''
        type: string
    required:
    - paymentId
  InitializeBkmrequest:
    title: Initialize BkmRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        $ref: '#/definitions/BasketItems'
    required:
    - price
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  RetrieveBkmResultrequest:
    title: Retrieve Bkm ResultRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      token:
        description: ''
        type: string
    required:
    - token
  CreateUserAndAddCardrequest:
    title: Create User And Add CardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      externalId:
        description: ''
        type: string
      email:
        description: ''
        type: string
      card:
        $ref: '#/definitions/Card'
    required:
    - externalId
    - email
    - card
  Card:
    title: Card
    type: object
    properties:
      cardAlias:
        description: ''
        type: string
      cardNumber:
        description: ''
        type: string
      expireYear:
        description: ''
        type: string
      expireMonth:
        description: ''
        type: string
      cardHolderName:
        description: ''
        type: string
    required:
    - cardAlias
    - cardNumber
    - expireYear
    - expireMonth
    - cardHolderName
  CreateCardrequest:
    title: Create CardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
      card:
        $ref: '#/definitions/Card'
    required:
    - cardUserKey
    - card
  DeleteCardrequest:
    title: Delete CardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
      cardToken:
        description: ''
        type: string
    required:
    - cardUserKey
    - cardToken
  RetrieveCardsrequest:
    title: Retrieve CardsRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
    required:
    - cardUserKey
  CreatePaymentWithRegisteredCardrequest:
    title: Create Payment with Registered cardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      installment:
        description: ''
        type: string
      paymentChannel:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      paymentCard:
        $ref: '#/definitions/PaymentCard'
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - currency
    - installment
    - basketId
    - paymentGroup
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  ApprovePaymentrequest:
    title: Approve PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentTransactionId:
        description: ''
        type: string
    required:
    - paymentTransactionId
  DisapprovePaymentrequest:
    title: Disapprove PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentTransactionId:
        description: ''
        type: string
    required:
    - paymentTransactionId
  CreateMarketplacePaymentrequest:
    title: Create Marketplace PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      installment:
        description: ''
        type: integer
      paymentChannel:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      paymentCard:
        $ref: '#/definitions/PaymentCard'
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem31'
    required:
    - price
    - paidPrice
    - installment
    - paymentChannel
    - basketId
    - paymentGroup
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  PaymentCard:
    title: Payment Card
    type: object
    properties:
      cardHolderName:
        description: ''
        type: string
        example: John Doe
      cardNumber:
        description: ''
        type: string
        example: 5528790000000008
      expireYear:
        description: ''
        type: string
        example: 2030
      expireMonth:
        description: ''
        type: string
        example: 12
      cvc:
        description: ''
        type: string
        example: 550
      registerCard:
        description: ''
        type: string
        example: 0
      cardUserKey:
        description: ''
        type: string
      cardToken:
        description: ''
        type: string
    required:
    - cardHolderName
    - cardNumber
    - expireYear
    - expireMonth
    - cvc
  BasketItem31:
    title: BasketItem31
    type: object
    properties:
      id:
        description: ''
        type: string
      price:
        description: ''
        type: string
      name:
        description: ''
        type: string
      category1:
        description: ''
        type: string
      category2:
        description: ''
        type: string
      itemType:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      subMerchantPrice:
        description: ''
        type: string
    required:
    - id
    - price
    - name
    - category1
    - category2
    - itemType
    - subMerchantKey
    - subMerchantPrice
  InitializeMarketplaceCheckoutrequest:
    title: Initialize Marketplace CheckoutRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      enabledInstallments:
        description: ''
        type: array
        items:
          type: integer
          format: int32
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem31'
    required:
    - price
    - paidPrice
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreatePersonalSubmerchantrequest:
    title: Create Personal SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      contactSurname:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
      subMerchantType:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - contactName
    - contactSurname
    - currency
    - subMerchantExternalId
    - identityNumber
    - subMerchantType
  CreatePrivateSubmerchantrequest:
    title: Create Private SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
      subMerchantType:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantExternalId
    - identityNumber
    - subMerchantType
  CreateCompanySubmerchantrequest:
    title: Create Company SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
      taxNumber:
        description: ''
        type: string
      subMerchantType:
        description: ''
        type: string
    required:
    - email
    - address
    - iban
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantExternalId
    - taxNumber
    - subMerchantType
  RetrieveSubmerchantrequest:
    title: Retrieve SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
    required:
    - subMerchantExternalId
  UpdatePersonalSubmerchantCopyrequest:
    title: Update Personal Submerchant copyRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      contactSurname:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - contactName
    - contactSurname
    - currency
    - subMerchantKey
    - identityNumber
  UpdatePrivateSubmerchantrequest:
    title: Update Private SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantKey
    - identityNumber
  UpdateCompanySubmerchantrequest:
    title: Update Company SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      taxNumber:
        description: ''
        type: string
    required:
    - email
    - address
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantKey
    - taxNumber
  InitializePeccorequest:
    title: Initialize PeccoRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreatePeccorequest:
    title: Create PeccoRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      token:
        description: ''
        type: string
    required:
    - token
  InitializeCheckoutrequest:
    title: Initialize CheckoutRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      enabledInstallments:
        description: ''
        type: array
        items:
          type: integer
          format: int32
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - currency
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  RetrieveCheckoutFormResultrequest:
    title: Retrieve Checkout Form ResultRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      token:
        description: ''
        type: string
    required:
    - token
  InitializeCheckoutWithCardUserKeyrequest:
    title: Initialize Checkout with Card User KeyRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      enabledInstallments:
        description: ''
        type: array
        items:
          type: integer
          format: int32
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - basketId
    - paymentGroup
    - cardUserKey
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreatePaymentRequest:
    title: Create Payment Request
    type: object
    properties:
      locale:
        description: ''
        type: string
        example: tr
      conversationId:
        description: ''
        type: string
        example: 123456789
      price:
        description: ''
        type: string
        example: 1.0
      paidPrice:
        description: ''
        type: string
        example: 1.2
      currency:
        description: ''
        type: string
        example: TRY
      installment:
        description: ''
        type: string
        example: 1
      paymentChannel:
        description: ''
        type: string
        example: WEB
      basketId:
        description: ''
        type: string
        example: B67832
      paymentGroup:
        description: ''
        type: string
        example: PRODUCT
      paymentCard:
        $ref: '#/definitions/PaymentCard'
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
          $ref: '#/definitions/BasketItems'
    required:
    - price
    - paidPrice
    - installment
    - paymentChannel
    - basketId
    - paymentGroup
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreatePaymentResponse:
    title: Create Payment Response
    type: object
    properties:
      status:
        description: ''
        type: string
        example: success
      locale:
        description: 'Language settings'
        type: string
        example: tr
      systemTime:
        description: ''
        type: string
        example: 1495891786950
      conversationId:
        description: ''
        type: string
        example: 123456789
      price:
        description: ''
        type: string
        example: 1.0
      paidPrice:
        description: ''
        type: string
        example: 1.0
      installment:
        description: ''
        type: string
        example: 1
      paymentId:
        description: ''
        type: string
        example: 123456
      fraudStatus:
        description: ''
        type: string
        example: 2
      merchantCommissionRate:
        description: ''
        type: string
        example: 0
      merchantCommissionRateAmount:
        description: ''
        type: string
        example: 0
      iyziCommissionRateAmount:
        description: ''
        type: string
        example: 0.02625
      iyziCommissionFee:
        description: ''
        type: string
        example: 0.25
      cardType:
        description: ''
        type: string
        example: CREDIT_CARD
      cardAssociation:
        description: ''
        type: string
        example: MASTER_CARD
      cardFamily:
        description: ''
        type: string
        example: Bonus
      binNumber:
        description: ''
        type: string
        example: 554960
      lastFourDigits:
        description: ''
        type: string
        example: 0016
      basketId:
        description: ''
        type: string
        example: B67832
      currency:
        description: ''
        type: string
        example: TRY
      itemTransactions:
        description: ''
        type: array
        items:
          $ref: '#/definitions/itemTransactions'
      authCode:
        description: ''
        type: string
        example: 260627
      phase:
        description: ''
        type: string
        example: AUTH
  itemTransactions:
    title: Item Transactions
    type: object
    properties:
      itemId:
        description: ''
        type: string
        example: BI101
      paymentTransactionId:
        description: ''
        type: string
        example: 11207021
      transactionStatus:
        description: ''
        type: string
        example: 2
      price:
        description: ''
        type: string
        example: 1.0
      paidPrice:
        description: ''
        type: string
        example: 1.0
      merchantCommissionRate:
        description: ''
        type: string
        example: 0
      merchantCommissionRateAmount:
        description: ''
        type: string
        example: 0
      iyziCommissionRateAmount:
        description: ''
        type: string
        example: 0.02625
      iyziCommissionFee:
        description: ''
        type: string
        example: 0.25
      merchantPayoutAmount:
        description: ''
        type: string
        example: 0.72375
      convertedPayout:
          $ref: '#/definitions/convertedPayout'
  convertedPayout:
    title: Converted Payout
    type: object
    properties:
      paidPrice:
        description: ''
        type: string
        example: 1.0
      iyziCommissionRateAmount:
        description: ''
        type: string
        example: 0.02625
      iyziCommissionFee:
        description: ''
        type: string
        example: 0.25
      merchantPayoutAmount:
        description: ''
        type: string
        example: 0.72375
      iyziConversionRate:
        description: ''
        type: string
        example: 0
      iyziConversionRateAmount:
        description: ''
        type: string
        example: 0
      currency:
        description: ''
        type: string
        example: TRY
  CreateThreedsPaymentrequest:
    title: Create Threeds PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentId:
        description: ''
        type: string
      conversationData:
        description: ''
        type: string
    required:
    - paymentId
    - conversationData
  InitializeThreedsPaymentrequest:
    title: Initialize Threeds PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      installment:
        description: ''
        type: integer
        format: int32
      paymentChannel:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      paymentCard:
        $ref: '#/definitions/PaymentCard71'
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - installment
    - basketId
    - paymentGroup
    - callbackUrl
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  PaymentCard71:
    title: PaymentCard71
    type: object
    properties:
      cardHolderName:
        description: ''
        type: string
      cardNumber:
        description: ''
        type: string
      expireYear:
        description: ''
        type: string
      expireMonth:
        description: ''
        type: string
      cvc:
        description: ''
        type: string
    required:
    - cardHolderName
    - cardNumber
    - expireYear
    - expireMonth
    - cvc
  CancelRequest:
    title: CancelRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentId:
        description: ''
        type: string
      ip:
        description: ''
        type: string
    required:
    - paymentId
    - ip
  RefundRequest:
    title: RefundRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentTransactionId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      ip:
        description: ''
        type: string
    required:
    - paymentTransactionId
    - price
    - ip
  RetrievePaymentResultrequest:
    title: Retrieve Payment ResultRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentId:
        description: ''
        type: string
      paymentConversationId:
        description: ''
        type: string
    required:
    - paymentId
    - paymentConversationId
  RetrievePayoutCompletedTransferListrequest:
    title: Retrieve Payout Completed Transfer ListRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      date:
        description: ''
        type: string
    required:
    - date
  RetrieveBouncedBankTransferListrequest:
    title: Retrieve Bounced Bank Transfer ListRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      date:
        description: ''
        type: string
    required:
    - date