swagger: '2.0'
info:
  version: '1.0'
  title: 'iyzipay'
  description: |
    # Disclaimer
    This is not an official api doc for iyzico.
    
    # Getting started
  
    The iyzico API has been developed to support merchants with extended online payment services and can be easily integrated into existing platforms. All services are based on a stateless RESTful service architecture that requires API clients to access these services (e.g. for data marshalling / unmarshalling and PKI [public key infrastructure] encryption / decryption). You can follow the steps below to get started.'
    ## Create a sandbox account

    Sign up for a free <a href="https://sandbox-merchant.iyzipay.com/login?lang=en" target="_blank"> Sandbox</a> account to test and verify your integration. 
    ## Learn how to  perform integration

    iyzico provides several methods of integration that perfectly suit your needs and support 6 different server-side languages.

    <style>
    #body img{
      display:inline-block !important;
    }
    </style>
    <a href="https://github.com/iyzico/iyzipay-php/releases/latest" target="_blank">PHP</a>
    <a href="https://github.com/iyzico/iyzipay-dotnet/releases/latest" target="_blank">.NET</a>
    <a href="https://github.com/iyzico/iyzipay-java/releases/latest" target="_blank">JAVA</a>
    <a href="https://github.com/iyzico/iyzipay-node/releases/latest" target="_blank">NODE</a>
    <a href="https://github.com/iyzico/iyzipay-ruby/releases/latest" target="_blank">RUBY</a>
    <a href="https://github.com/iyzico/iyzipay-python/releases/latest" target="_blank">PYTHON</a>
    
    ##  Choose your integration method
    
    iyzico provides a collection of requests to help you build integrations for a wide range of use cases. Merchants can integrate with our <a href="https://dev.iyzipay.com/en/api"> Payment API</a>.
    
    ##  Going Live
    
    * Change your keys for the production enviroment.
    * Review your error handling.
    * Dont forget to use the [iyzico logo pack](iyzico-logo-pack.zip) for your payment page.
    * Review your integration with incomplete and duplicate and invalid data's.
    * Dont forget to match the response data (paidPrice, price, basketid) with your websitede records. 

host: "sandbox-api.iyzipay.com"
schemes:
 - "https"
paths:
  /payment/test:
    get:
      description: 'Health Check'
      summary: Health Check
      tags:
      - Api
      operationId: Heath Check
      produces:
      - application/json
      responses:
        200:
          description: ''
  /payment/test#:
    get:
      description: 'Health Check'
      summary: Health Check
      tags:
      - Api
      operationId: Heath Check
      produces:
      - application/json
      responses:
        200:
          description: ''   
  /payment/bin/check:
    post:
      description: 'This service returns information about card.'
      summary: Retrieve Bin
      tags:
      - Api
      operationId: Retrieve Bin
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveBinNumberRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
        example: IYZWS sandbox-pZwBBHDkOYRHbvr4AMIgBDmCecc03QUU:rFwfwRXKN63UrCY2R8xXT0IPzpk=
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
        default: x-iyzi-rnd
      responses:
        '200':
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/RetrieveBinNumberResponse'
  /payment/iyzipos/installment:
    post:
      description: 'This service returns information about installment options and card.'
      summary: Retrieve Installment
      tags:
      - Api
      operationId: Retrieve Installment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveInstallmentRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
        default: 'IYZWS sandbox-rrQeCfgnKMADrV4eDCPOhETjK3DzN9OU:iVUDG7pIZp1h/dfox4jDBYqdJjA='
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
        default: 'x-iyzi-rnd'
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: success
  /payment/auth:
    post:
      description: 'To charge a credit or a debit card, you can use an Auth request.'
      summary: Create Payment
      tags:
      - Api
      operationId: Create Payment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreatePaymentRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/3dsecure/initialize:
    post:
      description: 'TODO: Add Description'
      summary: Initialize Threeds Payment
      tags:
      - Api
      operationId: Initialize Threeds Payment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializeThreedsPaymentrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/3dsecure/auth:
    post:
      description: 'TODO: Add Description'
      summary: Create Threeds
      tags:
      - Api
      operationId: RCreate Threeds
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrievePaymentResultrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/cancel:
    post:
      description: 'TODO: Add Description'
      summary: Cancel
      tags:
      - Api
      operationId: Cancel
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CancelRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/refund:
    post:
      description: 'TODO: Add Description'
      summary: Refund
      tags:
      - Api
      operationId: Refund
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RefundRequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/detail:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Payment Result
      tags:
      - Api
      operationId: Retrieve Payment Result
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrievePaymentResultrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /reporting/settlement/payoutcompleted:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Bounced Bank Transfer List
      tags:
      - Api
      operationId: Retrieve Bounced Bank Transfer List
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveBouncedBankTransferListrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/apm/initialize:
    post:
      description: 'TODO: Add Description'
      summary: Initialize APM
      tags:
      - APM
      operationId: Initialize APM
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializeApmrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/apm/retrieve:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Apm
      tags:
      - APM
      operationId: Retrieve Apm
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveApmrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/bkm/initialize:
    post:
      description: 'TODO: Add Description'
      summary: Initialize Bkm
      tags:
      - BKM
      operationId: Initialize Bkm
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializeBkmrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/bkm/auth/detail:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Bkm Result
      tags:
      - BKM
      operationId: Retrieve Bkm Result
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveBkmResultrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /cardstorage/card:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Cards
      tags:
      - Card Register
      operationId: Retrieve Cards
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveCardsrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
    delete:
      description: 'TODO: Add Description'
      summary: Delete Card
      tags:
      - Card Register
      operationId: Delete Card
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/DeleteCardrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/iyzipos/item/approve:
    post:
      description: 'TODO: Add Description'
      summary: Approve Payment
      tags:
      - Marketplace
      operationId: Approve Payment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/ApprovePaymentrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/iyzipos/item/disapprove:
    post:
      description: 'TODO: Add Description'
      summary: Disapprove Payment
      tags:
      - Marketplace
      operationId: Disapprove Payment
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/DisapprovePaymentrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/iyzipos/checkoutform/initialize/auth/ecom:
    post:
      description: 'TODO: Add Description'
      summary: Initialize Checkout with Card User Key
      tags:
      - iyzico Checkout Form
      operationId: Initialize Checkout with Card User Key
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializeCheckoutWithCardUserKeyrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /onboarding/submerchant:
    put:
      description: 'TODO: Add Description'
      summary: Update Company Submerchant
      tags:
      - Marketplace
      operationId: Update Company Submerchant
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/UpdateCompanySubmerchantrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
    post:
      description: 'TODO: Add Description'
      summary: Create Company Submerchant
      tags:
      - Marketplace
      operationId: Create Company Submerchant
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreateCompanySubmerchantrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /onboarding/submerchant/detail:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Submerchant
      tags:
      - Marketplace
      operationId: Retrieve Submerchant
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveSubmerchantrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/pecco/initialize:
    post:
      description: 'TODO: Add Description'
      summary: Initialize Pecco
      tags:
      - Pecco
      operationId: Initialize Pecco
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/InitializePeccorequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/pecco/auth:
    post:
      description: 'TODO: Add Description'
      summary: Create Pecco
      tags:
      - Pecco
      operationId: Create Pecco
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/CreatePeccorequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
  /payment/iyzipos/checkoutform/auth/ecom/detail:
    post:
      description: 'TODO: Add Description'
      summary: Retrieve Checkout Form Result
      tags:
      - iyzico Checkout Form
      operationId: Retrieve Checkout Form Result
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/RetrieveCheckoutFormResultrequest'
      - name: Authorization
        in: header
        required: true
        type: string
        description: ''
      - name: x-iyzi-rnd
        in: header
        required: true
        type: string
        description: ''
      #- name: Content-Type
      #  default : application/json
      #  in: header
      #  required: true
      #  type: string
      #  description: ''
      responses:
        200:
          description: ''
definitions:
  RetrieveBinNumberRequest:
    title: Retrieve Bin Number Request
    type: object
    properties:
      locale:
        description: 'Language settings'
        type: string
        example: tr
        default: tr
      conversationId:
        description: ''
        type: string
        example: 123456789
      binNumber:
        description: ''
        type: string
        example: 554960
    required:
    - binNumber
  RetrieveBinNumberResponse:
    title: Retrieve Bin Number Response
    type: object
    properties:
      status:
        description: ''
        type: string
        example: success
      locale:
        description: 'Language settings'
        type: string
        example: tr
      systemTime:
        description: ''
        type: string
        example: 1495891786950
      conversationId:
        description: ''
        type: string
        example: 123456789
      binNumber:
        description: ''
        type: string
        example: 554960
      cardType:
        description: ''
        type: string
        example: CREDIT_CARD
      cardAssociation:
        description: ''
        type: string
        example: MASTER_CARD
      cardFamily:
        description: ''
        type: string
        example: Bonus
      bankName:
        description: ''
        type: string
        example: Garanti Bankası
      bankCode:
        description: ''
        type: string
        example: 62
      commercial:
        description: ''
        type: string
        example: 0 
  RetrieveInstallmentRequest:
    title: Retrieve Installment Request
    type: object
    properties:
      locale:
        description: 'Language settings'
        type: string
        example: tr
        default: tr
      conversationId:
        description: ''
        type: string
        example: 123456789
      price:
        description: ''
        type: string
        example: "100.0"
      binNumber:
        description: ''
        type: string
        example: 554960
    required:
    - price
  InitializeApmrequest:
    title: Initialize APMRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      countryCode:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      accountHolderName:
        description: ''
        type: string
      merchantCallbackUrl:
        description: ''
        type: string
      merchantErrorUrl:
        description: ''
        type: string
      merchantNotificationUrl:
        description: ''
        type: string
      apmType:
        description: ''
        type: string
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - currency
    - countryCode
    - basketId
    - paymentGroup
    - accountHolderName
    - merchantCallbackUrl
    - merchantErrorUrl
    - merchantNotificationUrl
    - apmType
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  Buyer:
    title: Buyer
    type: object
    properties:
      id:
        description: ''
        type: string
      name:
        description: ''
        type: string
      surname:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      registrationDate:
        description: ''
        type: string
      lastLoginDate:
        description: ''
        type: string
      registrationAddress:
        description: ''
        type: string
      city:
        description: ''
        type: string
      country:
        description: ''
        type: string
      zipCode:
        description: ''
        type: string
      ip:
        description: ''
        type: string
    required:
    - id
    - name
    - surname
    - identityNumber
    - email
    - registrationAddress
    - city
    - country
    - ip
  ShippingAddress:
    title: ShippingAddress
    type: object
    properties:
      address:
        description: ''
        type: string
      zipCode:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      city:
        description: ''
        type: string
      country:
        description: ''
        type: string
    required:
    - address
    - contactName
    - city
    - country
  BillingAddress:
    title: BillingAddress
    type: object
    properties:
      address:
        description: ''
        type: string
      zipCode:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      city:
        description: ''
        type: string
      country:
        description: ''
        type: string
    required:
    - address
    - contactName
    - city
    - country
  BasketItems:
    title: BasketItems
    type: array
    items:
      $ref: '#/definitions/BasketItem'
  BasketItem:
    title: BasketItem
    type: object
    properties:
      id:
        description: ''
        type: string
      price:
        description: ''
        type: string
      name:
        description: ''
        type: string
      category1:
        description: ''
        type: string
      category2:
        description: ''
        type: string
      itemType:
        description: ''
        type: string
    required:
    - id
    - price
    - name
    - category1
    - itemType
  RetrieveApmrequest:
    title: Retrieve ApmRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentId:
        description: ''
        type: string
    required:
    - paymentId
  InitializeBkmrequest:
    title: Initialize BkmRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        $ref: '#/definitions/BasketItems'
    required:
    - price
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  RetrieveBkmResultrequest:
    title: Retrieve Bkm ResultRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      token:
        description: ''
        type: string
    required:
    - token
  CreateUserAndAddCardrequest:
    title: Create User And Add CardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      externalId:
        description: ''
        type: string
      email:
        description: ''
        type: string
      card:
        $ref: '#/definitions/Card'
    required:
    - externalId
    - email
    - card
  Card:
    title: Card
    type: object
    properties:
      cardAlias:
        description: ''
        type: string
      cardNumber:
        description: ''
        type: string
      expireYear:
        description: ''
        type: string
      expireMonth:
        description: ''
        type: string
      cardHolderName:
        description: ''
        type: string
    required:
    - cardAlias
    - cardNumber
    - expireYear
    - expireMonth
    - cardHolderName
  CreateCardrequest:
    title: Create CardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
      card:
        $ref: '#/definitions/Card'
    required:
    - cardUserKey
    - card
  DeleteCardrequest:
    title: Delete CardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
      cardToken:
        description: ''
        type: string
    required:
    - cardUserKey
    - cardToken
  RetrieveCardsrequest:
    title: Retrieve CardsRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
    required:
    - cardUserKey
  CreatePaymentWithRegisteredCardrequest:
    title: Create Payment with Registered cardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      installment:
        description: ''
        type: string
      paymentChannel:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      paymentCard:
        $ref: '#/definitions/PaymentCard'
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - currency
    - installment
    - basketId
    - paymentGroup
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  ApprovePaymentrequest:
    title: Approve PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentTransactionId:
        description: ''
        type: string
    required:
    - paymentTransactionId
  DisapprovePaymentrequest:
    title: Disapprove PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentTransactionId:
        description: ''
        type: string
    required:
    - paymentTransactionId
  CreateMarketplacePaymentrequest:
    title: Create Marketplace PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      installment:
        description: ''
        type: integer
      paymentChannel:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      paymentCard:
        $ref: '#/definitions/PaymentCard'
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem31'
    required:
    - price
    - paidPrice
    - installment
    - paymentChannel
    - basketId
    - paymentGroup
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  PaymentCard:
    title: Payment Card
    type: object
    properties:
      cardHolderName:
        description: ''
        type: string
        example: John Doe
      cardNumber:
        description: ''
        type: string
        example: 5528790000000008
      expireYear:
        description: ''
        type: string
        example: 2030
      expireMonth:
        description: ''
        type: string
        example: 12
      cvc:
        description: ''
        type: string
        example: 550
      registerCard:
        description: ''
        type: string
        example: 0
      cardUserKey:
        description: ''
        type: string
      cardToken:
        description: ''
        type: string
    required:
    - cardHolderName
    - cardNumber
    - expireYear
    - expireMonth
    - cvc
  BasketItem31:
    title: BasketItem31
    type: object
    properties:
      id:
        description: ''
        type: string
      price:
        description: ''
        type: string
      name:
        description: ''
        type: string
      category1:
        description: ''
        type: string
      category2:
        description: ''
        type: string
      itemType:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      subMerchantPrice:
        description: ''
        type: string
    required:
    - id
    - price
    - name
    - category1
    - category2
    - itemType
    - subMerchantKey
    - subMerchantPrice
  InitializeMarketplaceCheckoutrequest:
    title: Initialize Marketplace CheckoutRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      enabledInstallments:
        description: ''
        type: array
        items:
          type: integer
          format: int32
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem31'
    required:
    - price
    - paidPrice
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreatePersonalSubmerchantrequest:
    title: Create Personal SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      contactSurname:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
      subMerchantType:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - contactName
    - contactSurname
    - currency
    - subMerchantExternalId
    - identityNumber
    - subMerchantType
  CreatePrivateSubmerchantrequest:
    title: Create Private SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
      subMerchantType:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantExternalId
    - identityNumber
    - subMerchantType
  CreateCompanySubmerchantrequest:
    title: Create Company SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
      taxNumber:
        description: ''
        type: string
      subMerchantType:
        description: ''
        type: string
    required:
    - email
    - address
    - iban
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantExternalId
    - taxNumber
    - subMerchantType
  RetrieveSubmerchantrequest:
    title: Retrieve SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
    required:
    - subMerchantExternalId
  UpdatePersonalSubmerchantCopyrequest:
    title: Update Personal Submerchant copyRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      contactSurname:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - contactName
    - contactSurname
    - currency
    - subMerchantKey
    - identityNumber
  UpdatePrivateSubmerchantrequest:
    title: Update Private SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantKey
    - identityNumber
  UpdateCompanySubmerchantrequest:
    title: Update Company SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      taxNumber:
        description: ''
        type: string
    required:
    - email
    - address
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantKey
    - taxNumber
  InitializePeccorequest:
    title: Initialize PeccoRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreatePeccorequest:
    title: Create PeccoRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      token:
        description: ''
        type: string
    required:
    - token
  InitializeCheckoutrequest:
    title: Initialize CheckoutRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      enabledInstallments:
        description: ''
        type: array
        items:
          type: integer
          format: int32
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - currency
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  RetrieveCheckoutFormResultrequest:
    title: Retrieve Checkout Form ResultRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      token:
        description: ''
        type: string
    required:
    - token
  InitializeCheckoutWithCardUserKeyrequest:
    title: Initialize Checkout with Card User KeyRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      enabledInstallments:
        description: ''
        type: array
        items:
          type: integer
          format: int32
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - basketId
    - paymentGroup
    - cardUserKey
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreatePaymentRequest:
    title: Create Payment Request
    type: object
    properties:
      locale:
        description: ''
        type: string
        example: tr
      conversationId:
        description: ''
        type: string
        example: 123456789
      price:
        description: ''
        type: string
        example: 1.0
      paidPrice:
        description: ''
        type: string
        example: 1.2
      currency:
        description: ''
        type: string
        example: TRY
      installment:
        description: ''
        type: string
        example: 1
      paymentChannel:
        description: ''
        type: string
        example: WEB
      basketId:
        description: ''
        type: string
        example: B67832
      paymentGroup:
        description: ''
        type: string
        example: PRODUCT
      paymentCard:
        $ref: '#/definitions/PaymentCard'
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
          $ref: '#/definitions/BasketItems'
    required:
    - price
    - paidPrice
    - installment
    - paymentChannel
    - basketId
    - paymentGroup
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreateThreedsPaymentrequest:
    title: Create Threeds PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentId:
        description: ''
        type: string
      conversationData:
        description: ''
        type: string
    required:
    - paymentId
    - conversationData
  InitializeThreedsPaymentrequest:
    title: Initialize Threeds PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      installment:
        description: ''
        type: integer
        format: int32
      paymentChannel:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      paymentCard:
        $ref: '#/definitions/PaymentCard71'
      buyer:
        $ref: '#/definitions/Buyer'
      shippingAddress:
        $ref: '#/definitions/ShippingAddress'
      billingAddress:
        $ref: '#/definitions/BillingAddress'
      basketItems:
        description: ''
        type: array
        items:
          $ref: '#/definitions/BasketItem'
    required:
    - price
    - paidPrice
    - installment
    - basketId
    - paymentGroup
    - callbackUrl
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  PaymentCard71:
    title: PaymentCard71
    type: object
    properties:
      cardHolderName:
        description: ''
        type: string
      cardNumber:
        description: ''
        type: string
      expireYear:
        description: ''
        type: string
      expireMonth:
        description: ''
        type: string
      cvc:
        description: ''
        type: string
    required:
    - cardHolderName
    - cardNumber
    - expireYear
    - expireMonth
    - cvc
  CancelRequest:
    title: CancelRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentId:
        description: ''
        type: string
      ip:
        description: ''
        type: string
    required:
    - paymentId
    - ip
  RefundRequest:
    title: RefundRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentTransactionId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      ip:
        description: ''
        type: string
    required:
    - paymentTransactionId
    - price
    - ip
  RetrievePaymentResultrequest:
    title: Retrieve Payment ResultRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      paymentId:
        description: ''
        type: string
      paymentConversationId:
        description: ''
        type: string
    required:
    - paymentId
    - paymentConversationId
  RetrievePayoutCompletedTransferListrequest:
    title: Retrieve Payout Completed Transfer ListRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      date:
        description: ''
        type: string
    required:
    - date
  RetrieveBouncedBankTransferListrequest:
    title: Retrieve Bounced Bank Transfer ListRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      date:
        description: ''
        type: string
    required:
    - date