swagger: '2.0'
info:
  version: '1.0'
  title: 'iyzipay'
  description: |
    # Disclaimer
    iyzico resmi api dökümantasyonu değildir. 
    https://dev.iyzipay.com/tr adresinden iyzico resmi api dökümantasyonuna ulaşabilirsiniz.
    
    # Başlarken
  
    iyzico ödeme API’si, internet üzerinden ödeme kabul eden tüm üye işyerlerine hitap edecek bir şekilde, oturum bilgisi tutmayan (stateless) Restful servis odaklı bir mimaride geliştirilmiştir. iyzico'nun sunduğu sunucu taraflı programlama diline uygun istemciler(client) ile çok kolay entegre olunabilir. Başlamak için aşağıdaki adımları izleyebilirsiniz.

    ## Sandbox(test) hesabı oluşturmak

    iyzico servislerini test edebilmek için bu <a href="https://sandbox-merchant.iyzipay.com/register" target="_blank">adresten</a> kaydınızı gerçekleştirebilirsiniz. Email aktivasyonu gerekmeden giriş yapıp <a href="https://sandbox-merchant.iyzipay.com/settings" target="_blank"> **"Ayarlar"** </a> menüsünden servisleri test edebileceğiniz API ve Güvenlik anahtar değerlerine ulaşabilirsiniz. 

    >>> Sandbox(test) kontrol panelinden alınan anahtarlar **https://sandbox-api.iyzipay.com** sorgu adresi(baseUrl) ile çalışmaktadır.

    >>> Sandbox(test) ortamında kullanılan değerler ve sorgu adresi(baseUrl) canlı ortamdaki değerler ve sorgu adresinden tamamen farklıdır.

    ## İstemci(client) seçimi

    iyzico entegrasyon için, sunucu taraflı programlama diline uygun 6 farklı istemci(client) sunar. Bu istemcilerden programlama yapmak istediğiniz dile uygun olanı seçip sandbox(test) bilgileri ile kullanmaya başlayabilirsiniz.

    >>> Projenizde kullandığınız istemciyi github hesabınız ile takip etmeyi unutmayınız. Böylece gelecek olan güncelleme ve yeniliklerden haberdar olabilirsiniz.
    iyzico servislerini test edebilmek için bu <a href="https://sandbox-merchant.iyzipay.com/register" target="_blank">adresten</a> kaydınızı gerçekleştirebilirsiniz. Email aktivasyonu gerekmeden giriş yapıp <a href="https://sandbox-merchant.iyzipay.com/settings" target="_blank"> <strong>"Ayarlar"</strong> </a> menüsünden servisleri test edebileceğiniz API ve Güvenlik anahtar değerlerine ulaşabilirsiniz.

    <style>
    #body img{
      display:inline-block !important;
    }
    </style>
    <a href="https://github.com/iyzico/iyzipay-php/releases/latest" target="_blank">PHP</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-dotnet/releases/latest" target="_blank">.NET</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-java/releases/latest" target="_blank">JAVA</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-node/releases/latest" target="_blank">NODE</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-ruby/releases/latest" target="_blank">RUBY</a>
    </br>
    <a href="https://github.com/iyzico/iyzipay-python/releases/latest" target="_blank">PYTHON</a>
    
    ## Entegrasyon metoduna karar vermek

    <a href="https://dev.iyzipay.com/tr/odeme-formu">**Ödeme Formu**:</a>
    Eğer işletmenizin amacı hızlı ve kolay bir şekilde ödeme almaya başlamak ise iyzico ödeme formunu tercih edilebilirsiniz. Ön yüz kontrolleri, BIN sorgulama, Taksit Sorgulama, 3D Secure ile ödeme, BKM Express ve Kart saklama entegrasyonları için ek sorgu yapmaya gerek kalmadan tek bir entegrasyon ile işlemler tamamlanır. Ödeme bazında 3D Secure ayarı ve taksit komisyon yönetimi iyzico kontrol panelinden kolayca düzenlenebilir. Üye iş yeri tasarımına göre pop-up veya responsive olarak yüklenebilir. iframe ve ortak ödeme sayfası olarak kullanım şekilleri mevcuttur.

    <a href="https://dev.iyzipay.com/tr/api">**API**:</a>
    Üye işyeri kendi ödeme formunu kullanır. Bu entegrasyonda iyzico servisleri üye işyeri ödeme formunun arkasında çalışır. İstenilen servisler iş modelinin ihtiyacına göre entegre edilebilir. 

    ## Entegrasyon sürecinde dikkat edilecek noktalar

    ** Canlı ortamda iyzico API'ına gönderilen parametrelere müşteriden alınan bilgiler set edilmelidir. Müşteriniden alınmayan "dummy" değerler sorgu parametrelerine set edilmemelidir.
    
    ** Ödeme işlemi sonucunda iyzico tarafından dönen cevaptaki değerler (price, paidPrice, basketId, conversationId) ile sizin sisteminize kaydettiğiniz değerleri karşılaştırarak bir farklılık var ise genel bir hata mesajı gösterebilirsiniz.
    
    ** Bu tür durumlarda iyzico entegrasyon ekibi ile iletişime geçmeyi unutmayınız. Müşteri tarafından ödenen tutar iyzico tarafından dönen cevaptaki paidPrice parametresindeki değere eşittir.

    ## Canlı ortama geçiş

    ** Geliştirmeler tamamlandıktan sonra ödeme adımlarınızı, test kartlarınız ile tüm durumlar için test edin.
    
    ** iyzico servislerinden dönen ve olabilecek tüm hataları karşılayacak şekilde kodunuzu düzenleyin.
    
    ** Sonuç sayfanızın iyzico'dan gelen yanıtı yorumlayabiliyor olmasına dikkat edin.
    
    ** Hassas olmayan dataları ve yanıtları loglamaya dikkat edin.
    
    ** Entegrasyonunuzun son kullanıcılar için <a href="https://dev.iyzipay.com/tr/sss" target="_blank">Kişisel Verilerin Koruması Kanunu</a> ile uyumlu olmasına dikkat edin.
    
    ** iyzico logolarını sitenize eklemeyi unutmayın. [iyzico logo paketi](iyzico-logo-pack.zip).
    
    ** iyzico entegrasyon ekibinin onayı için <a href="mailto:entegrasyon@iyzico.com">**entegrasyon@iyzico.com**</a> mail adresi ile iletişime geçin.
    
    
host: "sandbox-api.iyzipay.com"
schemes:
 - "https"
 
tags:
  - name: Api
    description: | 
      API entegrasyonunda üye işyeri kendi ödeme formunu kullanır. Bu form üzerindeki kontrolleri ve kuralları uygulaması gerekir.
      
      ** Kart numarası(PAN) luhn algoritmasına tabi tutulmalıdır.
      
      ** Kartın hamilinin adı ve soyadı alınmalıdır.
      
      ** Son kullanma tarihi geçmiş kartlar ile API'ye sorgu yapılmamalıdır.
      
      ** AMEX kartları ile işlem alabilir şekilde tasarlanmalıdır.
      
      iyzico arka planda çalıştığından üye işyerinin ihtiyaçlarına göre istenilen servisler entegre edilebilir.

paths:
  /payment/test:
    $ref: '/healthCheck.yaml'
  /payment/iyzipos/installment:
    $ref: '/installment.yaml'
  /payment/auth:
    $ref: '/payment_auth.yaml'
  /payment/3dsecure/initialize:
    $ref: '/payment_3dsecure_initialize.yaml'
  /payment/3dsecure/auth:
    $ref: '/payment_3dsecure_auth.yaml'
  /payment/cancel:
    $ref: '/cancel.yaml'
  /payment/refund:
    $ref: '/refund.yaml'
  /payment/detail:
    $ref: '/payment_detail.yaml'
  /reporting/settlement/payoutCompleted:
    $ref: '/payoutCompleted.yaml'
  /payment/apm/initialize:
    $ref: '/apm_initialize.yaml'
  /payment/apm/retrieve:
    $ref: '/apm_retrieve.yaml'
  /payment/bkm/initialize:
    $ref: '/bkm_initialize.yaml'
  /payment/bkm/auth/detail:
    $ref: '/bkm_retrieve.yaml'
  /cardstorage/card:
    $ref: '/cardstorage_card.yaml'
  /payment/iyzipos/item/approve:
    $ref: '/approve.yaml'
  /payment/iyzipos/item/disapprove:
    $ref: '/disapprove.yaml'
  /payment/iyzipos/checkoutform/initialize/auth/ecom:
    $ref: '/card_register_checkoutform_initialize.yaml'
  /onboarding/submerchant:
    $ref: '/submerchant.yaml'
  /onboarding/submerchant/detail:
    $ref: '/submerchant_detail.yaml'
  /payment/iyzipos/checkoutform/auth/ecom/detail:
    $ref: '/checkoutform_retrieve.yaml'
definitions:
  RetrieveBinNumberRequest:
    title: Retrieve Bin Number Request
    type: object
    properties:
      locale:
        description: 'Language settings'
        type: string
        example: tr
        default: tr
      conversationId:
        description: ''
        type: string
        example: 123456789
      binNumber:
        description: ''
        type: string
        example: 554960
    required:
    - binNumber
  CreateUserAndAddCardrequest:
    title: Create User And Add CardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      externalId:
        description: ''
        type: string
      email:
        description: ''
        type: string
      card:
        $ref: '#/definitions/Card'
    required:
    - externalId
    - email
    - card
  Card:
    title: Card
    type: object
    properties:
      cardAlias:
        description: ''
        type: string
      cardNumber:
        description: ''
        type: string
      expireYear:
        description: ''
        type: string
      expireMonth:
        description: ''
        type: string
      cardHolderName:
        description: ''
        type: string
    required:
    - cardAlias
    - cardNumber
    - expireYear
    - expireMonth
    - cardHolderName
  CreateCardrequest:
    title: Create CardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      cardUserKey:
        description: ''
        type: string
      card:
        $ref: '#/definitions/Card'
    required:
    - cardUserKey
    - card
  CreatePaymentWithRegisteredCardrequest:
    title: Create Payment with Registered cardRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      installment:
        description: ''
        type: string
      paymentChannel:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      paymentCard:
        $ref: 'paymentCard.yaml#/definitions/PaymentCard'
      buyer:
        $ref: 'buyer.yaml#/definitions/Buyer'
      shippingAddress:
        $ref: 'shippingAddress.yaml#/definitions/ShippingAddress'
      billingAddress:
        $ref: 'billingAddress.yaml#/definitions/BillingAddress'
      basketItems:
          $ref: 'basketItems.yaml#/definitions/BasketItems'
    required:
    - price
    - paidPrice
    - currency
    - installment
    - basketId
    - paymentGroup
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreateMarketplacePaymentrequest:
    title: Create Marketplace PaymentRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      installment:
        description: ''
        type: integer
      paymentChannel:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      paymentCard:
        $ref: 'paymentCard.yaml#/definitions/PaymentCard'
      buyer:
        $ref: 'buyer.yaml#/definitions/Buyer'
      shippingAddress:
        $ref: 'shippingAddress.yaml#/definitions/ShippingAddress'
      billingAddress:
        $ref: 'billingAddress.yaml#/definitions/BillingAddress'
      basketItems:
          $ref: 'basketItems.yaml#/definitions/BasketItems'
    required:
    - price
    - paidPrice
    - installment
    - paymentChannel
    - basketId
    - paymentGroup
    - paymentCard
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  BasketItem31:
    title: BasketItem31
    type: object
    properties:
      id:
        description: ''
        type: string
      price:
        description: ''
        type: string
      name:
        description: ''
        type: string
      category1:
        description: ''
        type: string
      category2:
        description: ''
        type: string
      itemType:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      subMerchantPrice:
        description: ''
        type: string
    required:
    - id
    - price
    - name
    - category1
    - category2
    - itemType
    - subMerchantKey
    - subMerchantPrice
  InitializeMarketplaceCheckoutrequest:
    title: Initialize Marketplace CheckoutRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      enabledInstallments:
        description: ''
        type: array
        items:
          type: integer
          format: int32
      buyer:
        $ref: 'buyer.yaml#/definitions/Buyer'
      shippingAddress:
        $ref: 'shippingAddress.yaml#/definitions/ShippingAddress'
      billingAddress:
        $ref: 'billingAddress.yaml#/definitions/BillingAddress'
      basketItems:
          $ref: 'basketItems.yaml#/definitions/BasketItems'
    required:
    - price
    - paidPrice
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems
  CreatePersonalSubmerchantrequest:
    title: Create Personal SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      contactSurname:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
      subMerchantType:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - contactName
    - contactSurname
    - currency
    - subMerchantExternalId
    - identityNumber
    - subMerchantType
  CreatePrivateSubmerchantrequest:
    title: Create Private SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantExternalId:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
      subMerchantType:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantExternalId
    - identityNumber
    - subMerchantType
  UpdatePersonalSubmerchantCopyrequest:
    title: Update Personal Submerchant copyRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      contactName:
        description: ''
        type: string
      contactSurname:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - contactName
    - contactSurname
    - currency
    - subMerchantKey
    - identityNumber
  UpdatePrivateSubmerchantrequest:
    title: Update Private SubmerchantRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      email:
        description: ''
        type: string
      gsmNumber:
        description: ''
        type: string
      address:
        description: ''
        type: string
      iban:
        description: ''
        type: string
      taxOffice:
        description: ''
        type: string
      legalCompanyTitle:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      subMerchantKey:
        description: ''
        type: string
      identityNumber:
        description: ''
        type: string
    required:
    - locale
    - conversationId
    - name
    - email
    - gsmNumber
    - address
    - iban
    - taxOffice
    - legalCompanyTitle
    - currency
    - subMerchantKey
    - identityNumber
  InitializeCheckoutrequest:
    title: Initialize CheckoutRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      price:
        description: ''
        type: string
      paidPrice:
        description: ''
        type: string
      currency:
        description: ''
        type: string
      basketId:
        description: ''
        type: string
      paymentGroup:
        description: ''
        type: string
      callbackUrl:
        description: ''
        type: string
      enabledInstallments:
        description: ''
        type: array
        items:
          type: integer
          format: int32
      buyer:
        $ref: 'buyer.yaml#/definitions/Buyer'
      shippingAddress:
        $ref: 'shippingAddress.yaml#/definitions/ShippingAddress'
      billingAddress:
        $ref: 'billingAddress.yaml#/definitions/BillingAddress'
      basketItems:
          $ref: 'basketItems.yaml#/definitions/BasketItems'
    required:
    - price
    - paidPrice
    - currency
    - basketId
    - paymentGroup
    - callbackUrl
    - buyer
    - shippingAddress
    - billingAddress
    - basketItems

  PaymentCard71:
    title: PaymentCard71
    type: object
    properties:
      cardHolderName:
        description: ''
        type: string
      cardNumber:
        description: ''
        type: string
      expireYear:
        description: ''
        type: string
      expireMonth:
        description: ''
        type: string
      cvc:
        description: ''
        type: string
    required:
    - cardHolderName
    - cardNumber
    - expireYear
    - expireMonth
    - cvc
  RetrievePayoutCompletedTransferListrequest:
    title: Retrieve Payout Completed Transfer ListRequest
    type: object
    properties:
      locale:
        description: ''
        type: string
      conversationId:
        description: ''
        type: string
      date:
        description: ''
        type: string
    required:
    - date
  itemTransactions:
    title: Item Transactions
    type: object
    properties:
      itemId:
        description: ''
        type: string
        example: BI101
      paymentTransactionId:
        description: ''
        type: string
        example: 11207021
      transactionStatus:
        description: ''
        type: string
        example: 2
      price:
        description: ''
        type: string
        example: 1.0
      paidPrice:
        description: ''
        type: string
        example: 1.0
      merchantCommissionRate:
        description: ''
        type: string
        example: 0
      merchantCommissionRateAmount:
        description: ''
        type: string
        example: 0
      iyziCommissionRateAmount:
        description: ''
        type: string
        example: 0.02625
      iyziCommissionFee:
        description: ''
        type: string
        example: 0.25
      merchantPayoutAmount:
        description: ''
        type: string
        example: 0.72375
      convertedPayout:
          $ref: '#/definitions/convertedPayout'
  convertedPayout:
    title: Converted Payout
    type: object
    properties:
      paidPrice:
        description: ''
        type: string
        example: 1.0
      iyziCommissionRateAmount:
        description: ''
        type: string
        example: 0.02625
      iyziCommissionFee:
        description: ''
        type: string
        example: 0.25
      merchantPayoutAmount:
        description: ''
        type: string
        example: 0.72375
      iyziConversionRate:
        description: ''
        type: string
        example: 0
      iyziConversionRateAmount:
        description: ''
        type: string
        example: 0
      currency:
        description: ''
        type: string
        example: TRY